{% assign color_scheme_id = section.settings.color_scheme %}
{% assign color_scheme = section.settings.color_scheme | prepend: 'color_schemes.' | json %}

{% if color_scheme_id != blank and color_scheme != blank %}
  {% assign settings = color_scheme.settings %}
  <style>
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }
 
       .page-width {
        max-width: var(--page-width);
        /* padding: unset; */
      }
      button {
        background-color: {{ settings.button }};
        color: {{ settings.button_label }};
      }
      button.secondary {
        color: {{ settings.secondary_button_label }};
      }
      #install-alert{
        color: white;
      }
    .chart-container{
      padding-bottom: 20px;
    }
      #budget-results{
        display: flex;
        justify-content: space-between;
      }

      #budget-results ul li
      {
        font-size: 30px !important;
        color:#6CDAEE;
      }
      #budget-results ul li span.result{
        font-size: 28px;
        display: block;
        text-indent: 50px;
        color: #f79e02;
      }
      .pie-chart{
        width: 60%;
      }
      .pg-budget-calc-input{
        line-height: 2;
        font-size: 2em;
        border: none;
        border-radius: 10px;
        color: #002B57;
      }
      /* .calc-btn{
        font-size: 2em;
        border: 3px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
      } */
         @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
        }
      }
       @media only screen
      and (max-width: 480px) {
         .page-width{
           padding-left: 15px;
           padding-right: 15px;
         }
        .calc-btn{
          margin-top: 10px;
          width: 100%;

        }
        .pg-budget-calc-input {
          width: 300px;
        }
         #budget-results{
           flex-direction: column;
         }
    }
  </style>
{% endif %}
<div class="color-{{ section.settings.color_scheme }} gradient shopify-section section">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h3 class="page-title">Playground Budget Calculator</h3>
    <div
      id="pg-budget-calc"
      class=""
    >
      <label for="budget_total_before_tax">{{ section.settings.budget_total_before_tax.label }}</label>
      <input
        type="number"

        id="budget_total_before_tax"
        placeholder="($) Enter Budget"
        class="pg-budget-calc-input"
        pattern="[0-9]*"
        inputmode="decimal"
      >
      <button class="calc-btn button" onclick="calculateBudget()">Calculate</button>
      <div id="budget-results">
        <div class="budget-list">
          <h3 class="">How much you have for:</h3>
          <ul>
            <li id="equipment">Equipment: <span class="result"></span></li>
            <li id="installation">Installation: <span class="result"></span></li>
            <span id="install-alert"
              >*Installation prices vary based on travel costs. Surfacing is an estimate of wood mulch only</span
            >
            <li id="surfacing">Surfacing: <span class="result"></span></li>
            <li id="ground-preparation">Ground Preparation: <span class="result"></span></li>
            <li id="delivery">Delivery: <span class="result"></span></li>
          </ul>
        </div>

        <div class="chart-container">
          <canvas id="budget-chart" class="col pie-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function calculateBudget() {
      var totalBudgetStr = document.getElementById('budget_total_before_tax').value;

      // Removing dollar sign and commas
      var totalBudget = parseFloat(totalBudgetStr.replace(/[^\d.]/g, ''));

      var equipmentPercent = 0.4;
      var installationPercent = 0.2;
      var surfacingPercent = 0.15;
      var groundPreparationPercent = 0.1;
      var deliveryPercent = 0.15;

      var equipmentBudget = totalBudget * equipmentPercent;
      var installationBudget = totalBudget * installationPercent;
      var surfacingBudget = totalBudget * surfacingPercent;
      var groundPreparationBudget = totalBudget * groundPreparationPercent;
      var deliveryBudget = totalBudget * deliveryPercent;

  var formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD'
      });

  document.getElementById('equipment').querySelector('span').innerText = formatter.format(equipmentBudget);
  document.getElementById('installation').querySelector('span').innerText = formatter.format(installationBudget);
  document.getElementById('surfacing').querySelector('span').innerText = formatter.format(surfacingBudget);
  document.getElementById('ground-preparation').querySelector('span').innerText = formatter.format(groundPreparationBudget);
  document.getElementById('delivery').querySelector('span').innerText = formatter.format(deliveryBudget);

      // Set canvas width and height
      var canvas = document.getElementById('budget-chart');
      canvas.width = 500;
      canvas.height = 500;

      // Draw Pie Chart
      var ctx = canvas.getContext('2d');
      Chart.defaults.color = 'WHITE';
      var budgetChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Equipment', 'Installation', 'Surfacing', 'Ground Preparation', 'Delivery'],
          datasets: [
            {
              label: 'Budget Allocation',
              data: [equipmentBudget, installationBudget, surfacingBudget, groundPreparationBudget, deliveryBudget],
              backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });
    }
</script>

{% schema %}
{
  "name": "Budget Calculator",
  "tag": "section",
  "class": "budget-calculator",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Budget Calculator",
      "category": "finance"
    }
  ]
}
{% endschema %}
