{% javascript %}
  $(document).ready(function(){
    $('.icon-group').hover(function(){
      if ($(this).find('.gif').length) {
        $(this).find('.icon').hide();
        $(this).find('.gif').show();
      }
      if($(this).find('.icon-modal').length){
        $(this).find('.icon-modal').css({'opacity': '1', 'height': 'auto'}).show();
      }
    }, function(){
      if ($(this).find('.gif').length) {
        $(this).find('.gif').hide();
        $(this).find('.icon').show();
      }
      if($(this).find('.icon-modal').length){
        $(this).find('.icon-modal').css({'opacity': '0', 'height': '0'}).hide();
      }
    });

    $('.icon-modal .close').click(function(){
      $(this).closest('.icon-modal').css({'opacity': '0', 'height': '0'}).hide();
    });

    // For mobile tap functionality
    $('.icon-group').on('click', function() {
      if($(window).width() <= 480) {
        var modal = $(this).find('.icon-modal');
        if(modal.css('opacity') == '0') {
          modal.css({'opacity': '1', 'height': 'auto'}).show();
        } else {
          modal.css({'opacity': '0', 'height': '0'}).hide();
        }
      }
    });
  });
{% endjavascript %}
{% assign color_scheme_id = section.settings.color_scheme %}
{% assign color_scheme = section.settings.color_scheme | prepend: 'color_schemes.' | json %}

{% if color_scheme_id != blank and color_scheme != blank %}
  {% assign settings = color_scheme.settings %}
  <style>
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .icon-group {
      position: relative;
    }
    #shopify-section-template--22726199050526__resource_articles_FADjAx .icon-group:not(:last-child):before {
      content: '\f178';
      position: absolute;
      right: 0;
      bottom: 50%;
      font-family: FontAwesome;
      text-decoration: none;
    }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    .page-width {
      max-width: var(--page-width);
      background: {{ settings.background }};
      background: {{ settings.background_gradient }};
      color: {{ settings.text }};
      box-shadow: {{ settings.shadow }};
    }
    button {
      background-color: {{ settings.button }};
      color: {{ settings.button_label }};
    }
    button.secondary {
      color: {{ settings.secondary_button_label }};
    }
    #shopify-section-template--22557990224158__resource_articles_rg8U4V .icon-group-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
    }
    .icon-group-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      row-gap: 2em;
    }
    .icon-group {
      height: auto;
      width: 20em;
    }
    span.icon-link {
      display: block;
      margin-top: 10px;
      font-size: larger;
    }
    span.icon-link a {
      color: white !important;
    }
    .icon {
      transition: all 1s;
      cursor: pointer;
    }
    .gif {
      display: none;
      margin: 0 auto;
    }
    .icon-modal {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 2s ease-out;
    }
    .modal-content {
      text-align: left;
      padding: 5px 8px;
    }
    @media only screen and (min-width: 991px) and (max-width: 1366px) {
      #shopify-section-template--22726199050526__resource_articles_FADjAx .icon-group {
        width: auto;
      }
    }
    @media screen and (max-width: 480px) {
      .icon-group-container {}
      .icon-group {
        width: 150px;
        margin: 10px 0;
      }
    }
  </style>
{% endif %}

<div class="color-{{ section.settings.color_scheme }} gradient shopify-section section custom-section">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <div>
      <h2 class="title {{ section.settings.heading_size }}">
        {{ section.settings.header }}
      </h2>
      <div id="{{ section.id }}" class="icon-group-container">
        {% for block in section.blocks %}
          <section class="icon-group">
            {% if block.settings.icon %}
              <img
                class="icon"
                src="{{ block.settings.icon | image_url }}"
                alt="Icon"
                width="120"
                height="120"
              >
              {% if block.settings.gif %}
                <img
                  class="gif"
                  src="{{ block.settings.gif | image_url }}"
                  alt="GIF"
                  width="170"
                  height="170"
                >
              {% endif %}
              <span class="icon-link">
                {{ block.settings.icon_link }}
              </span>
              {% if block.settings.modal_content != blank %}
                <div class="icon-modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>{{ block.settings.modal_content }}</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Group",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "include_padding",
      "default": true,
      "label": "Make section margins the same as theme"
    }
  ],
  "presets": [
    {
      "name": "Icon Group"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "image_picker",
          "label": "GIF Option",
          "id": "gif"
        },
        {
          "type": "inline_richtext",
          "label": "Icon Link",
          "id": "icon_link"
        },
        {
          "type": "richtext",
          "label": "Modal Content",
          "id": "modal_content"
        }
      ]
    }
  ]
}
{% endschema %}
