{% assign color_scheme_id = section.settings.color_scheme %}
{% assign color_scheme = section.settings.color_scheme | prepend: 'color_schemes.' | json %}

{% if color_scheme_id != blank and color_scheme != blank %}
  {% assign settings = color_scheme.settings %}
  <style>
          .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
          padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

        @media screen and (min-width: 750px) {
          .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
          }
        }
         .page-width {
          max-width: var(--page-width);
          background: {{ settings.background }};
          background: {{ settings.background_gradient }};
          color: {{ settings.text }};
          box-shadow:{{ settings.shadow }};
        }
        .custom-section .title{
          padding: 0 5rem;
          margin-bottom: 25px;

        }
        button {
          background-color: {{ settings.button }};
          color: {{ settings.button_label }};
        }
        button.secondary {
          color: {{ settings.secondary_button_label }};
        }
        /* .icon-group-container{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          text-align:center;
        } */
    #shopify-section-template--22557990224158__resource_articles_rg8U4V .icon-group-container{
       display: flex;
      justify-content: space-around;
          flex-wrap: wrap;
          text-align:center;
      width: 100%;
    }
        .icon-group-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }
        .icon-group{
          height: auto;
          width: 10em;
        }
        span.icon-link{
          display: block;
          margin-top: 10px;
        }
         span.icon-link a{
          color: white !important;
        }
           /* Responsive styles */
           @media screen and (max-width: 750px) {
        .icon-group-container{
          width: 100%;
          justify-content: space-between;
        }
           }
  </style>
{% endif %}

<div class="color-{{ section.settings.color_scheme }} gradient shopify-section section custom-section">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h2 class="title h1{{ section.settings.heading_size }}">
      {{ section.settings.header }}
    </h2>
    <div id="{{ section.id }}" class="icon-group-container ">
      {% for block in section.blocks %}
        <section class="icon-group">
          {% if block.settings.icon %}
            <img
              class="icon"
              src="{{ block.settings.icon | image_url  }}"
              alt="Icon"
              width="70"
              height="70"
            >

            <span class="icon-link">
              {{ block.settings.icon_link }}
            </span>
          {% endif %}
        </section>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Group",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default" : "Heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "checkbox",
        "id": "include_padding",
        "default": true,
        "label": "Make section margins the same as theme"
      }
  ],
  "presets": [
    {
      "name": "Icon Group"
    }
  ],
  "blocks": [{
    "type": "icon",
    "name": "Icon",
    "settings": [
      {
        "type": "image_picker",
        "label": "Icon",
        "id": "icon"
      },
        {
          "type": "inline_richtext",
          "label": "Icon Link",
          "id": "icon_link"
        }
    ]
  }
  ]
}
{% endschema %}
